[{:itonami.blueprint/social-impact [:worker-safety :respiratory-health :energy-efficiency]
  :itonami.blueprint/domain :construction/insulation-crew-site-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "7124"
  :itonami.blueprint/name "Insulation Crew Site Coordination Practice"
  :itonami.blueprint/governor :insulation-crew-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-7124"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
